.nav_bg {
    background-color: #38404e;
}

.common_color {
    color: #fff;
}

#main-navbar .nav-link {
    padding: .5rem .5rem;
    color: #fff;
}

#main-navbar .nav-pills .nav-link.active {
	background-color: #333;	
}

.logo_link:hover {
    text-decoration: none;
}

.nav_logo {
    color: #fff;
    font-family: Roboto,sans-serif;
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 0;
}


.koi {
    color: #2ddbac;
    font-family: Roboto,sans-serif;
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 0;
}

.carousel-caption {
    margin-bottom: 10rem;
    margin-left: 2.25rem;
    
}

.carousel-caption h2 {
    font-weight: bold;
    letter-spacing: 0;
    line-height: 2.25rem;
    padding-left: 43px;
    padding-bottom: 20px;
}

.common_colorTwo {
    color: #2ddbac;
}

.program_edit {
    font-size: 20px;
    color: black;
}

.benefit_title {
    font-size: 30px;
    font-weight: bolder;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.benefit_details {
    font-size: 22px;
    color: black;
    font-weight: 500;
}

.about_modify {
    color: #2ddbac; 
    font-size: 2rem;
}

.bari_logo {
    color: #314464;
    font-family: Roboto,sans-serif;
    font-weight: 600;
    font-size: 32px;
    letter-spacing: 0;
}

.about_text {
    font-size: 20px;
    color: black;
    line-height: 45px;
    font-weight: 400;
}

.img_fit  {
    object-fit: scale-down;
}

div h6 {
    color: #2ddbac;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 0;
}

.down_arrow {
    font-size: 30px;
}

.card_text {
    font-size: 18px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

  .mb-0 > a {
    display: block;
    position: relative;
  }
  .mb-0 > a:after {
    content: "\f078"; 
    font-family: 'FontAwesome';
    position: absolute;
    right: 0;
  }
  .mb-0 > a[aria-expanded="true"]:after {
    content: "\f077";
  }

#collapse_edit {
    color: black;
}

#collapse_edit:hover {
    text-decoration: none;
}

.join_text {
    color: #314464;
}

#btn_modify {
    background-color: #2ddbac; 
    font-size: 23px;
}

#btn_modify a {
    text-decoration: none;
    color: #fff;
}

#content-desktop {display: block;}
#content-mobile {display: none;}

@media (max-width: 991.98px) {
    .card_edit {
        margin-left: 12px;
        margin-bottom: 25px;
    }
    .logo_img img {
        width:40%;
        height: 50px;
        margin-bottom: 25px;
    }
    .sheba_logo img {
        width: 40%;
        height: 60px;
        margin-bottom: 20px;
    }
    .wallet_logo img {
        width:40%;
        height: 50px;
        margin-top: 6px;
    }
    .styline_logo img {
        width: 40%;
        height: 90px;
    }
    .icon_modify {
        margin-bottom: 2rem;
    }
    .Criteria_edit {
        margin-top: 1rem;
    }

    .benefit_text {
        margin-top: 1rem;
    }
 }

 @media (max-width: 575px) {
    .img_edit {
        margin-top: 60px;
        width: 100%;
        height: 100%;
    }
    .caption_modify {
        margin: -18px;
        margin-left: -9px;
    }

    .carousel-caption h2 {
        font-size: 10px;
        line-height: 1.15rem;
        padding-left: 188px;
    }
 }

 @media screen and (max-width: 768px) {

    #content-desktop {display: none;}
    #content-mobile {display: block;}
    .CritBenrfit {
        font-size: 17px;
    }
    }
